.CreatePost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    height: 100%;
    border-radius: 10px;
    margin: 5rem 2rem;
    border: solid black;
    gap: 30px;
    padding: 5px;
}