.PasswordInput {
    width: 300px;
    height: 25px;

    box-sizing: border-box;
    /* padding-bottom: '18px'; */
    background-color: inherit;
    border-color: var(--color);
    border-style: solid;
    border-radius: 6px;

    color: var(--color);

    font-family: inherit;
    font-size: large;
}