@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color: DarkSlateGray;
    --back-color: white;
    --back-color-dark: black;
    --font: 'Sixtyfour';
    font-family: var(--font);
}

body {
    color: var(--color);
}

a:visited {
    color: var(--color);
}