/* Está vacio porque el estilo lo ponemos en el input */

.PasswordInput {
  position: relative;
  background-color: #E8F0FE;
}

.PasswordSpan {
  position: absolute;
  cursor: pointer;
  right: 9rem;

}