.Button {
    width: 200px;
    box-sizing: 'border-box';
    padding: 5px 20px;
    font-family: 'Dela Gothic One';
    background-color: #2A31FF;
    border-radius: 25px;
    border: 0px transparent;
    font-size: large;
    margin-bottom: 1rem;
    color: white;
    cursor: pointer;
}

.Button:hover,
.header-button:hover {
    background-color: #0a11cc;
}

.no-style-button {
    background-color: transparent;
    font-size: x-small;
}

.no-style-button:hover,
.save-post-button:hover {
    background-color: transparent;

}

.header-button {
    width: 6rem;
    padding: 5px 0px 5px 0px;
    background-color: #2A31FF;
    color: white;
    font-size: 0.8rem;
    margin: 0;
}

.save-post-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
    color: #2A31FF;
    padding: 0;
    margin: 0;
    width: 2rem;
    text-align: left;
}

.footer-button {
    width: 4rem;
    padding: 5px 0px 5px 0px;
    background-color: #92FF9D;
    color: black;
    margin-top: 1rem;
}

.footer-button:hover {
    background-color: #44d052;
}