@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne+Mono&family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color: rgb(41, 90, 238);
    --back-color: rgb(255, 217, 26);
    --font: 'Inter';
    --font-family: var(--font);

}

body {
    color: var(--color);
}

a:visited {
    color: var(--color)
}