.Footer {
    height: 5%;
    background-color: var(--back-color);
    /* box-sizing: border-box;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center; */
}