@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



a.active hr {
    display: block;
}

a.active p {
    color: green;
}

* {
    font-family: "Montserrat";
}

.playfair-display-uniquifier {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.dropdown-menu {
    transition: all 0.3s ease-in-out;
}