@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



a.active hr {
    display: block;
}

a.active p {
    color: green;
}

* {
    font-family: "Montserrat";
}

.playfair-display-uniquifier {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.dropdown-menu {
    transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar{
    display: none;
}

.product-detail-main-image {
    width: 100%;
    height: 500px; /* Ajusta este valor para lograr el aspecto deseado */
    object-fit: contain; /* Esto hace que la imagen se mantenga dentro del contenedor sin recortarse */
}

.product-thumbnail {
    width: 80px; /* Ajusta según el diseño */
    height: 80px;
    object-fit: cover; /* Esto llenará el contenedor y recortará lo necesario */
    margin-bottom: 10px; /* Espacio entre miniaturas */
    cursor: pointer;
}
