.Button {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--color);
    font-family: inherit;
    color: var(--balc-color);
    border-color: var(--color);
    border-style: solid;
    border-radius: 1rem;
}