.PostList {
    width: 100%;

    article {
        display: flex;
        width: 80%;
        flex-direction: column;
        justify-content: center;
        border: 2px #2A31FF solid;
        border-radius: 15px;
        padding: 0rem 1rem 1rem 1rem;
        margin-bottom: 2rem;
    }

    h4 {
        text-decoration: underline;
        color: #2A31FF;
    }

    h3 {
        font-family: 'Dela Gothic One';
        padding-left: 8px;
        align-self: flex-start;
    }

    img {
        width: 100%;
    }

    button {
        align-self: center;
        background-color: red;
    }
}