.PostItem {
    width: 80%;
    display: flex;
    flex-direction: column;
    border: 2px #2A31FF solid;
    border-radius: 15px;
    padding: 0;
    color: black;
    margin-bottom: 2rem;

    h4 {
        padding-left: 1rem;
        color: #2A31FF;
    }

    p,
    time {
        padding-left: 1rem;
        padding-right: 0.75rem;
        margin-bottom: 1rem;
    }

    img {
        width: 100%;
    }

    button {
        align-self: center;
        margin: 0;
        font-size: small;
    }

    .above-photo-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
        text-align: left;
    }

    .post-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        color: #92FF9D;
        background-color: #2A31FF;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        border: none;
        outline: none;
        padding-left: 1rem;
        padding-right: 1rem;

        textarea {
            border: 1px solid black;
            border-radius: 10px;
        }

        button {
            background-color: black;
            color: white;
            border-style: none;
            margin-bottom: 1rem;
        }
    }
}