body {
    height: 100%;
    background-color: black;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

input {
    border-radius: 5px;
    background-color: black;
    border: 1px solid white;
    width: 10rem;
    color: white;
    padding-left: .5rem;
    padding-right: .5rem;
}

button {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 4rem;
    padding: .25rem 0;
}