/* .Register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
    box-sizing: border-box;
    /*background-color: var(--white);
    padding-top: 10%;
    padding-bottom: 20%;
} */