.password-input {
    position: relative;
}

.password-input input {
    padding-right: 2rem;
}

.password-toggle {
    position: absolute;
    right: 0.5rem;
    /* Aligns the emoji */
    top: 58%;
    transform: translateY(-50%);
    cursor: pointer;
}