.pigface {
    background-color: pink;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-color: black;
    border-style: ridge;
    margin-left: 3%;

}

.eye-left {
    background-color: white;
    height: 4%;
    width: 6%;
    position: absolute;
    clip-path: inset(0.2% round 50%);
    margin-top: 6%;
    margin-left: 6%;

}

.eye-derecha {
    background-color: white;
    height: 4%;
    width: 6%;
    position: absolute;
    clip-path: inset(0.2% round 50%);
    margin-top: 5.7%;
    margin-left: 14%;
}

.pupila-left {
    background-color: black;
    clip-path: inset(0.2% round 50%);
    position: absolute;
    height: 2.5%;
    width: 3.5%;
    margin-top: 7.6%;
    margin-left: 7.5%;
}

.pupila-derecha {
    background-color: black;
    clip-path: inset(0.2% round 50%);
    position: absolute;
    height: 2.5%;
    width: 3.5%;
    margin-top: 7.6%;
    margin-left: 15.2%;
}

.oreja-derecha {
    background-color: rgb(254, 164, 179);
    border-radius: 50%;
    position: absolute;
    height: 6%;
    width: 8%;
    margin-left: 24%;
    margin-top: 2%;
    border-color: black;
    border-style: groove;
}

.oreja-izquierda {
    background-color: rgb(254, 164, 179);
    border-radius: 50%;
    position: absolute;
    height: 6%;
    width: 8%;
    margin-top: 2%;
    border-color: black;
    border-style: groove;
}

.nariz {
    background-color: rgb(254, 164, 179);
    border-radius: 50%;
    position: absolute;
    height: 3%;
    width: 8%;
    border-color: black;
    border-style: groove;
    margin-top: 13%;
    margin-left: 8.3%;
}


html {
    padding: 2%;
}

.nariz1 {
    background-color: black;
    clip-path: inset(0.2% round 50%);
    position: absolute;
    height: 1.5%;
    width: 2%;
    margin-top: 15%;
    margin-left: 13%;
}

.nariz2 {
    background-color: black;
    clip-path: inset(0.2% round 50%);
    position: absolute;
    height: 1.5%;
    width: 2%;
    margin-top: 15%;
    margin-left: 10.8%;
}