.Header {
    height: 10%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    position: fixed;
    top: 0;
    background-color: var(--back-color);
    width: 100%;

    img {
        width: 80px;
    }

    a {
        text-decoration: none;
    }

    h1 {
        text-align: center;
        font-size: large;
        margin: 0;
    }

    h3 {
        margin: 0;
        font-size: x-small;
    }

    .Buttonlogout {
        width: fit-content;
        font-size: x-small;
        background-color: dimgrey;
        color: lightgrey;
        border-style: groove;
        border-radius: 10px;
    }

    div.title {
        display: flex;
        align-items: center;
    }

    div.profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}