.Header {
  background-color: white;
  padding: 1rem;
  height: 5%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;

  h1 {
    margin: 0;
    font-size: x-large;
  }
}