/* .Button {
    width: '100%';
    padding: 10px;
    font-size: 1.1em;
    box-sizing: 'border-box';
    border-radius: 10px;
    font: inherit;
    cursor: pointer;
    background-color: var(--color-yellow);
    font-family: inherit;
    color: rgb(25, 7, 138);
    border-color: var(--color-blue);
    border-style: solid;
}

.Button:hover {
    background-color: #b9b007
} */


