@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

:root {
  --color: dodgerblue;
  --font: 'Sixtyfour';
  font-family: var(--font);
}

body {
  background-color: lightgrey;
  color: var(--color);
}

input {
  background-color: inherit;
  font-family: inherit;
}

a:visited {
  color: var(--color);
}