.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 1rem;
    gap: 1rem;
    margin: 1rem;
    height: auto;
    background-color: #92FF9D;
    border-radius: 1rem;
    border: 2px solid black;
    color: black;
    width: 18rem;
    margin-top: 4.5rem;

    h2 {
        font-family: 'Dela Gothic One';
        padding-left: 15px;
        align-self: flex-start;
    }

    button {
        margin-top: 1rem;
    }
}