.password-input {
    position: relative;
}

.password-input input {
    padding-right: 1.5rem;
}

.password-toggle {
    position: absolute;
    right: 0.5rem;
    top: 0.2rem;
    cursor: pointer;
}