@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');

html {
    scroll-behavior: smooth;
    font-family: "Sofadi One", system-ui;
   
   }
body{
    padding: 0%;
    margin: 0%;
    background-color: #262626;
}

/* disctribucion y fondo nav */
nav ul{
    background-color: #0D0D0D;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
    margin: 0%;
}
/* color letra menu nav */
nav ul li a{
    color: white;
    text-decoration: none;
}

/* separacion del buscador */
form{
display: flex;


/* barra de busqueda */
}
.buscador :first-child{
    background-color: #ffffff;
    width: 100%;
    border: none ;
    
}
/* placeholder barra busqueda */
.inbus::placeholder{
    text-align: center;
   
}
/* boton barra busqueda */
.buscadorb{
    background-color: #ffffff;
    border: none;
   
}

section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.noticias{
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
}
.noticias article{
   
    display: flex;
    flex-direction: column;
    width: 25%;
    /* Reparte el espacio disponible de columnas, en este caso 2 columnas a un 45% si existe el espacio */
    flex: 1 1 45%;
    margin: 10px;
   margin-top: 60px;
   border-radius: 10px;
}

.noticias h2{
    text-align: center;
}


article{
    background-color: #5d2e04;
    
    
}


article p{
    color: #000000;
    text-align: justify;
}


article h3{
color: #ffffff;
}

 article h3,p{
    padding-left: 20px;
    padding-right: 20px;
 }

article div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-size: cover;
    max-height: 200px;
    
}


.imagen img{

background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}



.video-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 300px;
    margin-top: 200px;
    margin-bottom: 200px;
    /* aspect-ratio: 16/9; */
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
.sectionform{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1F8C4E;
  

}
.comentario{
    display: flex;
    justify-content: center; 
    flex-direction: column; 
    width: 50%;
  }

  .comentarios{  
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 20px;

  }

.formulario{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 60%;
    border-radius: 10px;
}

footer{
    background-color: #262626;
    text-align: center;
    color: #ffffff;
}