.Register{

    margin: auto;
    margin-top: 3rem;
    background-image: radial-gradient(circle at -20.44% 56.16%, #d7c35d 0, #deba54 8.33%, #e4b04d 16.67%, #e9a546 25%, #ed9841 33.33%, #f0893e 41.67%, #f2793c 50%, #f3673d 58.33%, #f35542 66.67%, #f34249 75%, #f22b52 83.33%, #f0065d 91.67%, #ec0069 100%);     
    padding: 2rem;
    height: 36rem;
    width: 30rem;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 2px 4px 32px 2px black;
    h2{
        font-size: 26px;
    }

    .Button{
        width: 130px;
        
    }
}