.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
    box-sizing: border-box;

    background-color: lightgray;

    margin-top: 50px;
    margin-bottom: 50px;

    margin-left: 15px;
    margin-right: 15px;

    border-radius: 8px;
    /* box-shadow: ; */
}