.Footer {
        height: 3rem;
        width: 100%;
        position: fixed;
        bottom: 0;
        background: linear-gradient(90deg, #000000, #121212, #000000);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 0.9rem;
        
    }
    .createPostButton{
        width: 3rem;
        height: 3rem;
        color: white;
        background: transparent;
        font-size: 2rem;
        border-style: none;
    }