/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
  

.Header {
    background-color: var(--primary-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.Header h1 {
    font-size: 1.8rem;
    /* color: #F4E2DE; */
    font-family: 'Cinzel';
    font-weight: 800;
    font-size: 2.5rem;
}

.TopNav {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.TopNav h3 {
    font-size: 1.1rem;
}