.Post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #222;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    overflow-y: visible; /* Cambiar de 'auto' a 'visible' */
    height: auto; /* Permitir que crezca según el contenido */
    margin-top: 60px;
    border: 2px solid #ffffff;

}

