.Button {
    margin-right: 10px;

    box-sizing: 'border-box';
    /* padding-right: '18px'; */
    background-color: var(--color);
    font-family: inherit;
    color: var(--back-color);
    border-color: var(--color);
    border-style: solid;
    cursor: pointer;
    border-radius: 4px;
}

.Button--Light {
    color: var(--color);
    background-color: (--black-color);
}