@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color: #272727;
    --back-color-light: #F0F0F0;
    --back-color-dark: #272727;
    --text-color-light: #F0F0F0;
    --button-color: #1357EC;
    --orange-color: #E3AA81;
    --yellow-color: #EFDD8C;
    --grey-color: #D9D9D9;
    --font: 'Noto Sans';
    --font-title: 'Kavoon';
    height: 100vh;
}

body {
    color: var(--color);
    background-color: var(--back-color-light);
    display: flex;
    flex-direction: column;
    padding: 0rem 2rem 0rem 2rem;
    /* justify-content: center;
    align-items: center; */
    height: 100vh;
    margin-top: 5rem;
}

h1 {
    font-family: var(--font-title);
    font-size: 6rem;
}

h2 {
    font-family: var(--font-title);
    font-size: x-large;
}

p {
    font-family: var(--font);
    font-size: medium;
}