@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color: #e2e8f0;
    --back-color: black;
    --font: 'Gantari';
    font-family: var(--font);
    height: 100%;
}

body {
    h1 {
        color: var(--color)
    }
}