@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

:root {
    --color: #00FE00;
    --back-color: black;
    --font: 'Sixtyfour';
    font-family: var(--font);
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: var(--color);
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    height: 100%;
    width: 100%;
}