@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&family=Sixtyfour&family=Sixtyfour+Convergence&display=swap');

/* Definiciones de las propiedades personalizadas */
@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 2%;
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 78.72573401919361%;
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 98%;
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 98%;
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(55.58823529411776, 0%, 100%, 0.86);
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 2%;
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 78.72573401919361%;
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(284.55882352941177, 85%, 73%, 0.42);
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 91%;
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 98%;
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(181.00000000000003, 85%, 73%, 0.42);
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 87%;
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 16%;
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 2%;
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 61.288600779667334%;
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 79%;
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(252.7941176470588, 85%, 73%, 0.42);
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 2%;
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 61.288600779667334%;
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 52%;
}

/* Estilos para el fondo del body */
body {
    --x-0: 98%;
    --y-0: 98%;
    --c-0: hsla(55.58823529411776, 0%, 100%, 0.86);
    --c-1: hsla(284.55882352941177, 85%, 73%, 0.42);
    --y-1: 91%;
    --x-1: 98%;
    --c-2: hsla(181.00000000000003, 85%, 73%, 0.42);
    --y-2: 87%;
    --x-2: 16%;
    --y-3: 79%;
    --c-3: hsla(252.7941176470588, 85%, 73%, 0.42);
    --x-3: 52%;

    /* Ajuste de fondo y tamaño */
    background-color: hsla(198.00000000000063, 14%, 16%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)),
        radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)),
        radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)),
        radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3));
    background-blend-mode: overlay, normal, normal, normal;

    /* Propiedades adicionales */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    /* Esto asegura que el body ocupe al menos el 100% de la altura de la ventana */
    margin: 0;
    font-family: "Silkscreen", sans-serif;
    color: #ffffff;
}

h1 {
    margin-top: 2em;
    text-align: center;
}

section {
    width: 300px;
    padding: 20px;
    background-color: #9e7682;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    text-align: center;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #D8C99B;
}

input {
    margin-bottom: 20px;
}

button {
    background-color: #A4243B;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: 'Silkscreen';
}