@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

:root {
    --color: lime;
    --font: 'Tiny5';
    font-family: var(--font);
}

body {
    background-color: black;
    color: var(--color);
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

h1 {
    font-size: 4.25rem;
    margin: 2rem 0 1rem 0;
}

section {
    background-color: #111;
    padding: 0.75rem 2rem 2rem 2rem;
    margin: 1rem 0;
    border: 1px solid var(--color);
    width: 300px;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    font-family: inherit;
}

label {
    margin-top: 1rem;
}

input {
    background-color: #222;
    color: var(--color);
    border: 1px solid var(--color);
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 4px;
    font-family: inherit;
}

button {
    background-color: var(--color);
    color: black;
    border: none;
    padding: 0.75rem;
    margin-top: 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    font-family: inherit;
}

a {
    color: var(--color);
    text-decoration: none;
    margin-top: 1rem;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}