@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  body {
    font-size: 1.2rem;
  }
}

:root {
  --primary-color: #f29325;
  --secondary-color: #000;
  --bg-color: #f4e2de;
}

@media (min-width: 768px) {
  body {
    font-size: 1.2rem;
  }

  .Header h1 {
    font-size: 2rem;
  }

  .Login,
  .Register {
    width: 400px;
  }

  .Post {
    margin-top: 4rem;
    padding: 1.5rem;
  }

  .Footer {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .Header h1 {
    font-size: 1.5rem;
  }

  .Login,
  .Register {
    width: 90%;
  }

  .TopNav h3 {
    font-size: 1rem;
  }

  a {
    font-size: 1rem;
  }

  .Footer {
    font-size: 0.8rem;
  }

  .Post {
    width: 95%;
  }
}
