/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap'); */

*{
    box-sizing: border-box;
    align-items: center;
    color: white;
    /* height: 100%; */
}
@media (min-width: 768px) {
    body{
        font-size: 1.2rem;
        /* padding:20px; */
    }
}
    body{
        background-image: linear-gradient(180deg, #634835 0, #624230 10%, #603b2b 20%, #5f3227 30%, #5c2923 40%, #591f1f 50%, #55131d 60%, #52051c 70%, #4e001c 80%, #49001e 90%, #440020 100%);
        height: 97rem;
        /* padding:10px; */
        margin: 0;
        background-size: 200% 400%;
        font-size: 1rem;
/* min-height: 100%; */
text-align: center;
/* padding-bottom: 60px; */
}

:root {
/* --font: 'Noto Sans JP'; */
/* font-family: var(--font); */
/* height: 90%; */
font-family: sans-serif;
}


a{  
text-decoration: none;
display: inline;
font-size: 22px;
}

a:visited {
color: inherit;
}

a:hover {
text-decoration: underline;
}

section {
    /* align-content: center; */
    /* padding: 20px; */
    /* margin: 0; */
    /* background-color: #dcd7d7; */
    /* border-radius: 10px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /* position: relative; */
    /* width: 100%; */
    /* padding: 20px; */
    /* box-sizing: border-box; */
}   
