.passwordInput {
    height: 35px;
    display: flex;
    background-color: white;
    border: 1px solid #fcf9f9;
    border-radius: 4px;
    align-items: baseline;
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;

}