@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root {
  --font: 'Acme', sans-serif;
  --color: rgb(1, 28, 87);
  font-family: var(--font);
}

body {
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center; */
/* background-color: lavender;
  width: 300px;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(21, 35, 71); */

/* } */

/* form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2px
} */

/* .register {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: lavender;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(21, 35, 71);
} */

/* .register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2px
} */

/* button {
  font-family: var(--font);
  background-color: black;
  color: white;
  border-radius: 10px;
  width: fit-content;
  align-self: center;
} */