.Home {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    height: 85%;
    box-sizing: border-box;
    background-color: var(--back-color);
}