.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;

  .ButtonsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
  }
}