.Button {
    width: '100%';
    box-sizing: 'border-box';
    padding: 5px 40px 5px 40px;
    background-color: var(--color);
    font-family: 'Dela Gothic One';
    background-color: #2A31FF;
    border-radius: 25px;
    border: 0px transparent;
    font-size: large;
    margin-bottom: 1rem;
    color: white;
    width: 200px;
}

.Button:hover {
    background-color: #0a11cc;
}