.Input {
    width: 250px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 25px;
    box-sizing: 'border-box';
    text-align: left;
    background-color: var(--color);
    border: 2px solid black;
    border-radius: 15px;
}