* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('aragorn.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    color: #fff;
    flex-direction: column;
}

/* Estilo del encabezado */
h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Contenedor del formulario */
form {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

/* Estilo de etiquetas */
label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    align-self: flex-start;
}

/* Estilo de los campos de entrada */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
}

/* Estilo del botón */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 3rem;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
    background-color: #45a049;
    border-radius: 10px;
    margin-bottom: 20px;
}

a:hover {
    color: #4CAF50;
}