.Input {
    width: 100%;
    box-sizing: border-box;
    background-color: inherit;
    font-family: inherit;
    border-color: var(--color-blue);
    border-style: solid;
    background-color: var(--white);
}