.Button {
    width: '100%';
    box-sizing: 'boder-box';
    background-color: var(--color);
    font-family: inherit;
    color: var(--back-color);
    border-color: var(--color);
    border-style: solid;
}

.Button--light{
    color: var(--color);
    background-color: var(--back-color);
}