.Footer {
    height: -7rem;
    /* background-color: var(--back-color); */
    background-color: #04043b;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}