:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #dfdcdc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header,
.footer {
  position: fixed;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #a78585;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.header {
  top: 0;
  padding-bottom: 10px;
}

.footer {
  bottom: 0;
  padding-top: 5px;
}

.recommendation {
  background-color: #ffffff;
  border: 2px solid #a78585;
  border-radius: 8px;
  padding: 15px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.createrecommend {
  padding-top: 60px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  color: #a78585;
  cursor: pointer;
  transition: border-color 0.25s;
}


.footer button {
  flex: 1;
  max-width: 60px;
  height: 40px;
  background-color: #ffffff;
  color: #a78585;
  font-size: 0.9rem;
  border: 2px solid #242323;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.footer button:hover {
  background-color: #a78585;
  color: #ffffff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


a:hover {
  color: #747bff;
}

button {
  background-color: #f9f9f9;
}


.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}


.alert-box {
  background-color: #ffffff;
  border: 2px solid #a78585;
  border-radius: 8px;
  padding: 20px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.alert-box button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #a78585;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.categories {
  padding: 25px;
  max-width: 600px;
  margin: 0 auto;
}

.content {
  padding-top: 65px;
  padding-bottom: 65px;

}

.img {
  display: block;
  max-width: 90%;
  height: auto;
  margin: 0 auto;
}