.Posts {
    align-content: center;
    max-width: 400px;
    /* margin: 0 auto; */
    margin-top: 1rem;
    border-radius: 10px;
    /* position: relative; */

    align-content: center;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    background-color: #dcd7d7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}