.Header {
    background-color: #26272E;
    padding: 1rem;
    height: 10%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: white;
    gap: 3rem;

    h1 {
        margin: 0;
        font-size: x-large;
    }

    img {
        height: auto;
        width: 4rem;
    }
}