@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

:root {
    --color: dodgerblue;
    --font: 'Sixtyfour';
    font-family: var(--font);
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: var(--color);
}

section,
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    color: var(--color);
    background-color: inherit;
    font-family: inherit;
    margin-top: 10px;
    margin-bottom: 20px;
}

a:visited {
    color: var(--color);
}

h1 {
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 30px;
}

a {
    margin-top: 20px;
}

label,
input,
button {
    display: block;
}

button {
    background-color: black;
    color: var(--color);
    font-family: var(--font);
    padding: 5px;
    border-bottom: 1px solid #545454;
    border-right: 1px solid #545454
}

#up {
    margin-top: 50px;
    margin-bottom: 10px;
}

cursor {
    right: 50px;
}