.Header {
  background-color: #e4b834;
  padding: 19px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 6%;
  position: fixed;
  top: 0;
  justify-content: space-between;
}

.logo-container-btn {
  display: flex;
  align-items: center;
  cursor: pointer
}

.logo-container {
  display: flex;
  align-items: center
}

.logo {
  height: 20px;
}

.logo {
  padding-left: 5px;
}

h3 {
  font-size: 12px;
  color: black
}

@media (min-width: 700px) {
  .Header {
    width: 540px
  }
}

@media (max-width: 700px) {
  .Header {
    width: 290px;
  }
}