.Footer {
  background-color: #e4b834;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  height: 5%;
}

.Footer>button {
  color: black;
  border: solid black 3px;
  font-size: 1.1em;
  border-radius: 10px;
}

i {
  cursor: pointer;
}

i:hover {
  color: wheat;
}

@media (min-width: 700px) {
  .Footer {
    width: 540px
  }
}

@media (max-width: 700px) {
  .Footer {
    width: 290px;
  }
}