.Footer {
    height: 3rem;
    background-color: rgb(212, 216, 212);
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}