.Post {
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    width: 100%
  }

  .postInfo {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    p {
      margin: 0;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      width: autp;
    }
  }
}