@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');

:root {
    --color: lavender;
    --font: 'Montserrat';
    letter-spacing: 1px;
    font-family: var(--font);
}

body {
    font-size: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: black;
    color: var(--color);
}

h1 {
    font-size: 250%;
    font-family: 'Press Start 2P';
    margin-bottom: 50px;
}

input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 0px;
    margin-top: 2%;
    margin-bottom: 10%;
    margin-left: 10px;
    background-color: var(--color);
    width: 300px;
    /* it's the same than font-family: inherit
            for the input and buttons we always need to change the default font */
}

a:visited,
h1 {
    color: yellow;
}

.counterBox {
    margin-top: 20px;
    background-color: yellow;
    color: black;
}

button {
    font-family: 'Press Start 2P';
    font-size: 120%;
    margin-top: 50px;
    margin-bottom: 15px;
    background: blue;
    color: var(--color);
    padding: 10px 20px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}

a {
    display: flex;
    flex-direction: column;
}

.create-post-button {
    background-color: yellow;
    color: black;
    margin-left: 10px;
}

.publish-post-button {
    background-color: yellow;
    color: black;
}

.password-input {
    display: flex;
    flex-direction: row;
    position: relative;
}

.lock {
    position: absolute;
    right: -20px;
    top: 6px;
    cursor: pointer;
}


article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

h4 {
    text-decoration: underline;
    color: yellow;
    margin-top: 50px;
}

img {
    width: 300px;
    border: 2px solid yellow;
    border-radius: 10px;
}