@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color: white;
    --font: 'Pirata One';
    font-family: var(--font);
}

body {
    color: var(--color);
}

a:visited {
    color: var(--color);
}