.Button {
  width: "100%";
  box-sizing: "border-box";
  /* padding-right: '18px'; */
  background-color: var(--color);
  font-family: inherit;
  color: var(--back-color);
  border-color: black;
  border-style: solid;
  cursor: pointer;
}

.Button--light {
  color: white;
  background-color: var(--back-color);
}

.Button:hover {
  background-color: #0056b3;
}