@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Silkscreen:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: #4a7878;
  --background-color: #ffffff;
  --font-family: "Comfortaa", serif;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--color);
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}