.Header {
    background-color: var(--back-color);
    padding: 1rem;
    height: 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    position: fixed;
    top: 0;
    width: 100%;

    h1 {
        margin: 0;
        font-size: x-large;
    }
}