@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    align-items: center;
}


body{
background-color: rgb(242, 242, 242);
text-align: center;
margin: 0;
/* position: relative; */
padding-bottom: 60px;
}

:root {
--font: 'Noto Sans JP';
font-family: var(--font);
/* height: 90%; */
}

p{
    font-size: 18px;
}

a{  
text-decoration: none;
display: inline;
font-size: 22px;
}

a:visited {
color: inherit;
}

a:hover {
text-decoration: underline;
}
