@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');


body{
background-color: beige;
background-size: cover;
background-attachment: fixed;
text-align: center;
box-sizing: border-box;
margin: 0;
height: 100%;
position: relative;
padding-bottom: 60px;
}

:root {
--font: 'Noto Sans JP';
font-family: var(--font);
height: 100%;
}

a{  
text-decoration: none;
display: inline;
}

a:visited {
color: inherit;
}

a:hover {
text-decoration: underline;
}
