/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap'); */

*{
    box-sizing: border-box;
    align-items: center;
    color: white;
    /* height: 100%; */
}
@media (min-width: 768px) {
    body{
        font-size: 1.2rem;
        /* padding:20px; */
    }
}
    body{
        background: linear-gradient(90deg, #000000,#121212,#000000);
        /* padding:10px; */
        margin: 0;
        background-size: 200% 400%;
        font-size: 1rem;
/* min-height: 100%; */
text-align: center;
/* padding-bottom: 60px; */
}

:root {
/* --font: 'Noto Sans JP'; */
/* font-family: var(--font); */
/* height: 90%; */
font-family: sans-serif;
}


a{  
text-decoration: none;
display: inline;
font-size: 22px;
}

a:visited {
color: inherit;
}

a:hover {
text-decoration: underline;
}

section {
    /* align-content: center; */
    /* padding: 20px; */
    /* margin: 0; */
    /* background-color: #dcd7d7; */
    /* border-radius: 10px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /* position: relative; */
    /* width: 100%; */
    /* padding: 20px; */
    /* box-sizing: border-box; */
}   
