@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Gantari:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color: white;
  --back-color: black;
  --font: 'Gantari';
  font-family: var(--font);
  height: 100%;
}

body {
  background-color: var(--back-color);
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;

  h1 {
    color: var(--color)
  }
}

#root {
  height: 100%;
  width: 100%;
}

.password-repeat-input {
  position: relative;
  justify-content: left;
  align-items: right;
}

.span {
  position: absolute;
  margin-top: 5px;
  margin-left: 2px;
}