.Register{

    margin: auto;
    margin-top: 3rem;
    background: -webkit-linear-gradient(90deg, #000000,#75151d,#000000);
    background: linear-gradient(90deg, #000000,#75151d,#000000);    
    padding: 2rem;
    height: 36rem;
    width: 30rem;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 2px 4px 32px 2px black;
    h2{
        font-size: 26px;
    }

    .Button{
        width: 130px;
        
    }
}