.Footer {
        height: 3rem;
        width: 100%;
        position: fixed;
        bottom: 0;
        background: linear-gradient(90deg, #000000,#121212,#000000);
        display: flex;
        justify-content: center;
        align-items: center;

}
