.Footer {
        height: 5%;
        width: 100%;
        position: fixed;
        bottom: 0;
        background-color: rgb(30, 30, 30);
        display: flex;
        justify-content: center;
        align-items: center;

        h3{
                
        }
}
