@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

html {
    --color: rgb(184, 129, 184);
    --font: 'Sixtyfour';
    font-family: var(--font);
}

body {
    background-color: rgb(63, 61, 61);
    color: var(--color);
}

input {
    background-color: inherit;
    font-family: inherit;
    color: antiquewhite;
    margin-top: 10px;
    margin-bottom: 10px;
}

a:visited {
    color: var(--color);
}

button {
    background-color: grey;
    font-family: inherit;
    color: white;
    border-radius: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

section {
    border: solid white;
    border-width: 2px;
    padding: 5px;
    text-align: center;
  
}

.message {
    color: antiquewhite;
}

.warning {
    color: antiquewhite;
}