.Home {
  background-color: rgb(255, 255, 255);
  padding: 9% 0px 16% 0px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 700px) {
  .Home {
    width: 540px;
  }
}

@media (max-width: 700px) {
  .Home {
    width: 290px;
  }
}