@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

:root {
    --color: DarkSlateGray;
    --back-color: white;
    --font: 'Sixtyfour';
    font-family: var(--font);
    height: 100%;
}

body {
    background-color: lightgrey;
    color: var(--color);
    margin: 0;
    height: 100%;
}

#root {
    height: 100%;
}

a:visited {
    color: var(--color);
}