body {
    background-color: white;
}

.car {

    width: 240px;
    height: 120px;
    background-color: #CC0033;
    top: 100px;
    left: 100px;
    position: relative;
    border: solid 2px black;
    border-radius: 30% 65% 0 0;
}

.rueda--izquierda {
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 100px;
    left: 10px;
    border-radius: 50%;
    border: solid 1px white;
}

.rueda--derecha {
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 100px;
    left: 180px;
    border-radius: 50%;
    border: solid 1px white;
}

.rueda--izquierda .llanta {
    width: 25px;
    height: 25px;
    background-color: gray;
    border-radius: 100%;
    margin-top: 12.5px;
    margin-left: 12.5px;
}

.rueda--derecha .llanta {
    width: 25px;
    height: 25px;
    background-color: gray;
    border-radius: 100%;
    margin-top: 12.5px;
    margin-left: 12.5px;
}

.ventana_trasera {
    width: 80px;
    height: 60px;
    background-color: aqua;
    border-radius: 10% 10% 10% 10%;
    border: solid 1px black;
    top: 20px;
    position: absolute;
    left: 25px;
}

.ventana_delantera {
    width: 80px;
    height: 60px;
    background-color: aqua;
    border-radius: 10% 50% 10% 10%;
    border: solid 1px black;
    top: 20px;
    position: absolute;
    left: 135px;
}

.foco {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    top: 80px;
    right: 237px;
    border: solid 0.5px red;
    z-index: -1;
}

.foco1 {
    position: absolute;
    width: 10px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    top: 94px;
    left: 238px;
    z-index: -1;
    border: solid 0.5px yellow;

}