* {
    margin: 8px;
    padding: 12px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: rgb(3, 3, 51);
    display: grid;
    justify-content: center;
    place-items: center;
}

.calculadora {
    background-color: #15173c;
    color: white;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

.pantalla {
    grid-column: 1 / -1;
    background-color: #42A5F5;
    ;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;

}

.btn {
    background-color: #4541c4;
    ;
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;

}

.btn:hover {
    background-color: #090c31;

}

#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    background-color: rgb(136, 17, 234);
}

#igual:hover {
    background-color: rgb(136, 17, 234);
}