@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --color: rgb(25, 19, 18);
    --font: 'Press Start 2P';
    --back-color: rgb(214, 213, 213);
    font-family: var(--font);
    height: 100%;
}

body {
    background-color: rgb(214, 213, 213);
    color: var(--color);
    margin: auto;
    min-width: 370px;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 30px;
    right: 15px;
}

#password.Input {
    padding-right: 30px;
}

a:visited {
    color: var(--color);
}