@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Caveat:wght@400..700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('https://fotografias.larazon.es/clipping/cmsimages02/2024/08/04/D9D55CC8-1250-498B-AF62-1F2EFF729BC5/aitana-concierto-vigo_98.jpg?crop=1080,608,x0,y0&width=1900&height=1069&optimize=low&format=webply');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font: 'Afacad Flux';
    letter-spacing: 1px;
    font-family: 'Afacad Flux';
    color: white;

    background-color: rgba(0, 0, 0, 0.90);
    /* Negro con 50% de opacidad */
    background-blend-mode: overlay;
    /* Mezcla la imagen con el color */
}

h1 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
    font-size: 350%;
    font: 'Afacad Flux';
    font-family: 'Afacad Flux';
}

a {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    color: red;
}

label {
    color: white;
}

form {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    gap: 15px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: red;
    color: white;
    border-radius: 5px;
}