.PasswordInput {
    display: flex;
    width: 100%; 
    box-sizing: border-box;
    background-color: gray;
    font-family: inherit;
    border-color: var(--color);
    margin-left: 1px;
}

.emoji-container{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    height:30px; width:30px;
}


/*
width: '100%';
    box-sizing: 'border-box';
    background-color: inherit;
    font-family: inherit;
    border-color: var(--color);
    border-style: solid;
    */