@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    --color: rgb(228, 77, 228);
    --font: 'Sixtyfour';
    font-family: var(--font);
    height: 100%;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgb(63, 61, 61);
    color: var(--color);
    margin:0;
    height: 100%;
}

a:visited {
    color: var(--color);
}

#root {
    height: 100%;
}

.message {
    color: antiquewhite;
}

.warning {
    color: antiquewhite;
}