.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5%;
    width: 100%;
    color: var(--color);
    background-color: black;
    position: fixed;
    bottom: 0;
    border-top: 1px solid var(--color);
    font-size: 12px;

    .create-button {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        font-size: 25px;
    }
}