.Header {
    background-color: var(--back-color);
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed;
    top: 0;
    border-bottom: 1px solid var(--color);
    padding: 0 .25rem;

    h1 {
        margin: 0;
        font-size: 1rem;
        letter-spacing: -1px;
    }

    h3 {
        font-size: 1rem;
        letter-spacing: -2px;
        word-spacing: -10px;
    }

    .logout-button {
        width: 25px;
        margin-left: .5rem;
    }

    .name-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}