@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (min-width: 768px) {
  body {
    font-size: 1.2rem;
  }
} */

:root {
  --primary-color: #191414;
  --secondary-color: #1e1e1e;
  --tertiary-color: #333232;
  --accent-color-pink: #a92f9c;
  --accent-color-green: #1db954;
  --accent-color-red: #ec1e32;
  height: 100%;
  background: linear-gradient(#191414, #222222, #191414);
}

body {
}
