.Button {
  color: white;
  background-color: black;
  margin-top: 5px;
  padding: 12px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bolder;
  border: none;
  align-self: center;
}

#btn-logout {
  padding: 5px;
  margin-right: 5px;
  font-size: 0.7em;
  font-weight: normal;
}

#btn-post {
  color: white;
  padding: 0;
  margin: 0;
  padding: 3px;
}

#btn-post:hover {
  color: black;
  border: solid black;
}

.Button:hover {
  color: black;
  background-color: #e7cc79;
  border: none;
}